* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #1A5276;
    font-family: 'Open Sans', sans-serif;
}

.contenedor {
    margin-top: 2rem;
}

.formulario {
    color: white;
    height: auto;
    width: 350px;
    background-color: #35AACF;
    padding: 30px;
    text-align: center;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 7px 10px #154360;

    display: flex;
    flex-direction: column;
}

.titulo {
    letter-spacing: 1px;
}

.campos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1.5rem 0;
}

.campo__usuario,
.campo__contraseña {
    position: relative;
}

.campos input{
    width: 100%;
    padding: 15px 10px;
    border-radius: 7px;
    border: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
    position: relative;
    font-size: 18px;

    transition: 400ms ease;
}

.i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -26px;
    /* color: rgba(128,128,128,0.600); */
}

.i_user {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -26px;
    /* color: rgba(128,128,128,0.600); */
}

input:not(input[type="submit"]):focus {
    background-color: #B4D0EA;
    outline: 2px solid #154360;
    outline-offset: 2px;
}

input:not(input[type="submit"]):focus ~ i{
    color: #154360;

}

::placeholder {
    font-size: 16px;
    color: rgba(0, 0, 0, 3);
    letter-spacing: .5px;
}

input[type="submit"] {
    color: #1A5276;
    font-size: 18px;
    background-color: #B4D0EA;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
}

input[type="submit"]:hover {
    color:white;
    background-color: #154360;
}

/* Quitar flecha superior e inferior */
input[type = number]::-webkit-inner-spin-button,
input[type = number]::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}
