* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #1A5276;
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    margin-top: 2rem;
}

.formulario,
.fondo {
    margin-top: 20px;
    color: white;
    height: auto;
    width: 1200px;
    overflow-x: scroll;
    background-color: #35AACF;
    padding: 30px;
    text-align: center;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 7px 10px #154360;

    display: flex;
    flex-direction: column;
}

.titulo {
    letter-spacing: 1px;
}

.campos input {
    width: 100%;
    padding: 15px 10px;
    border-radius: 7px;
    border: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
    position: relative;
    font-size: 18px;

    transition: 400ms ease;
}

/* .i {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: -26px;
} */

input:not(input[type="submit"]):focus {
    background-color: #B4D0EA;
    outline: 2px solid #154360;
    outline-offset: 2px;
}

input[type="submit"] {
    color: #1A5276;
    font-size: 18px;
    background-color: #B4D0EA;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
    /* margin-top: 30px; */
}

input[type="submit"]:hover {
    color:white;
    background-color: #154360;
}

input[type="text"] {
    width: 350px;
}

.usuarios {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 1.5rem ;
    text-align: left;
    font-size: 19px;
}

.usuarios input,
.btnEditarUsuarios,
.btnCerrarUsuarios,
.btnFiltrarUsuarios,
.btnEliminarUsuarios {
    padding: 8px;
    border-radius: 7px;
    border: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
    position: relative;
    font-size: 15px;
}

/* Son los menús desplegables */
.cubito{
    padding: 8px;
    border-radius: 7px;
    border: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
    position: relative;
    font-size: 15px;
}

/* Menú desplegable del modal*/
.cubito1{
    padding: 8px;
    border-radius: 7px;
    border: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
    position: sticky;
    font-size: 15px;
}

/* Quitar flechas del input number */
input[type = number]::-webkit-inner-spin-button,
input[type = number]::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

.subirarc {
    color: aliceblue;
}

input[type = file]{
    /* border: 2px solid; */
    border: 2px dashed;
    border-radius: 15px;
}

/* Estilos de las tablas */
table.tablilla {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 5px;
    table-layout: auto;
}

thead {
    background-color: rgb(6, 62, 118);
    font-weight: bolder;
}

th{    
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    padding: 15px;
}

td{
    /* border: 2px solid rgb(0, 0, 0); */
    border: 2px solid rgb(255, 255, 255);
    background-color: white;
    color: black;
    text-align: left;
    padding: 15px;
}

.comentario_viejo{
    border-radius: 7px;
}

.btnEditarUsuarios,
.btnCerrarUsuarios,
.btnEliminarUsuarios{
    width: 70px;
    height: 35px;
    margin-top: 5px;
}

.btnFiltrarUsuarios{
    width: 68px;
    height: 36px;
    margin-top: 32px;
    margin-left: 11px;
}

.btnEditarUsuarios:hover,
.btnFiltrarUsuarios:hover{
    color: white;
    background-color: rgb(162, 0, 255);
}

.btnCerrarUsuarios:hover,
.btnEliminarUsuarios:hover{
    color: white;
    background-color: rgb(255, 0, 0);
}

.filtros_superior{
    display: flex;
    flex-wrap: wrap;
    /* padding: 15px; */
    /* margin: 10px; */
    /* border: 2px solid #000102; */
    border-radius: 15px;
    /* box-shadow: 0px 0px 7px 1px #0a1f2c; */
}

.servicio,
.estatus,
.programador,
.fechaalta{
    margin: 10px;
}

.estatus1,
.avance_actual1,
.comentarios1,
.comentarios_old,
.btnEditarUsuarios{
    margin: 18px;
    margin-top: 0px;
}

.btnEliminarUsuarios{
    margin: 6px;
    margin-top: 0px;
}

dialog::backdrop {
    background: rgba(160, 184, 236, 0.651);
  }

dialog#modal{
    left: 35%;
    top: 3%;
    background-color: #5daae9;
    border-radius: 15px;
    border: 2px solid rgb(0, 67, 250);
}

.titulo_modal{
    display: flex;
    letter-spacing: 1px;
    padding: 1px;
    color: white;
    margin-left: 10px;
}

.modal_titulos{
    color: white;
}

.titulo_modal_externo{
    margin: 15px;
}
/* h2{
    
} */

.modulo_chiquito{
    margin: 13px;
    /* margin-top: 0px; */
    /* padding: 3px; */
}

.btn_graficos{
    padding: 9px;
    font-size: 15px;
    background-color: white;
    border: none;
    border-radius: 7px;
    margin: 2px;
    margin-top: 18px;
}

.filtros_graficos{
    height: 80px;
    width: 100px;
    /* display: flex; */
    /* flex-wrap: wrap; */
}

.acomodar_filtro_graficos{
    border: 2px solid;
    height: 182px;
    width: 192px;
    padding: 12px;
    top: -89px;
    position: relative;
}

/* padding: 8px;
border-radius: 7px;
border: none;
outline: 2px solid transparent;
outline-offset: 2px;
position: relative;
font-size: 15px; */