<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../style.css">
        <title>ola</title>
    </head>
    <body>
           <div class="contenedor">
                <form class="formulario">
                   <h1 class="titulo">Subir archivos.</h1>
                   <div id="usuarios" class="usuarios">
                        <div class="nomproyecto">
                            <label>Nombre del Proyecto:</label><br>
                            <input
                                type="text"
                                required
                                >
                        </div>
                        <div class="tipoarc">
                            <label>Tipo de Archivo:</label><br>
                            <input type="radio" 
                                name="rol" 
                                checked
                                value="1"> Arquitectura<br>
                                <input type="radio"
                                name="rol"
                                value="2"> Cronograma<br>
                                <input type="radio"
                                name="rol"
                                value="3"> Manual
                        </div>
                        <div class="subirarc"> 
                            <!-- <label>Selecciona el archivo:</label> -->
                            <input type="file"
                                required>
                        </div> 

                        <input type="submit" value="Agregar Archivo">
                        

