<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Expires" content="0">
        <meta http-equiv="Last-Modified" content="0">
        <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
        <meta http-equiv="Pragma" content="no-cache">

        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../css/views_style.css">
        <title>ola</title>
        <script src="../js/jquery-1.10.2.js"></script>
        <script src="../js/view_alta_proyecto.js"></script>
    </head>
    <body>
           <div class="contenedor">
                <form class="formulario" method="POST" action="../php/funciones.php">
                   <h1 class="titulo">Alta de Proyectos.</h1>
                   <div id="usuarios" class="usuarios">
                        <div class="nomproyecto">
                            <label>Nombre del Proyecto: </label><br>
                            <input
                                id="alta_nomproyecto"
                                type="text"
                                required
                                name="nombreproyecto"
                                >
                        </div>
                        <div class="fechaalta">
                            <label>Fecha de Alta:</label><br>
                            <input
                                id="fecha_de_alta"
                                type="date"
                                required
                                name="fecha_alta"
                            >
                        </div>
                        <div class="origenpeti">
                            <label>Origen de la petición:</label><br>
                            <select name="origenpeticion" class="cubito" id="alta_orgienpeticion">
                                <option value="Centralizador">Centralizador</option>
                                <option value="Interno">Interno</option>
                                <option value="PMO">PMO</option>
                            </select>
                        </div>
                        <div class="servicio">
                            <label>Servicio:</label><br>
                            <select name="servicio" class="cubito" id="alta_servicio">
                                <option value="800 Coppel">800 Coppel</option>
                                <option value="BanCoppel">BanCoppel</option>
                                <option value="Afore">Afore</option>
                                <option value="Garantias">Garantías</option>
                                <option value="General">General</option>
                            </select>
                        </div>
                        <div class="descripcion">
                            <label>Descripción del Proyecto: </label><br>
                            <input
                                id="alta_descripcion"
                                type="text"
                                required
                                name="descripcion"
                                >
                        </div>
                        <div class="tipo">
                            <label>Tipo de Proyecto:</label><br>
                            <select name="tipo_proyecto" class="cubito" id="alta_tipo_proyecto">
                                <option value="Nuevo">Nuevo</option>
                                <option value="Modificación">Modificación</option>
                                <option value="Mejora">Mejora</option>
                                <option value="Corrección">Corrección</option>
                            </select>
                        </div>
                        <div class="clasificacion">
                            <label>Clasificacion del Proyecto:</label><br>
                            <select name="clasipro" class="cubito" id="alta_clasificacion">
                                <option value="Express">Express</option>
                                <option value="Complejo">Medio</option>
                                <option value="Medio">Complejo</option>
                                <option value="Macro">Macro</option>
                            </select>
                            <img src="../imagenes/help-circle-solid-24.png" alt="comentario" title="Express: 3 a 7 días.
Medio: 8 a 15 días.
Complejo: 16 a 24 días.
Macro: > 25 días." class="i">
                        </div>
                        <div class="peticion">
                            <label>Hay petición:</label><br>
                            <select name="haypeti" class="cubito" id="alta_hay_peticion">
                                <option value="Si">Sí</option>
                                <option value="No">No</option>
                                <option value="Interno">Interno</option>
                            </select>
                        </div>
                        <div class="arquitecto">
                            <label>Arquitecto:</label><br>
                            <select name="arqui" class="cubito" id="alta_arqui">
                                <option value="Sofia Vaca">Sofía Vaca</option>
                                <option value="Lidia Peñuelas">Lidia Peñuelas</option>
                            </select>
                        </div>
                        <div class="programador">
                            <label>Programador:</label><br>
                            <select name="desarrollador" class="cubito" id="alta_programador">
                                <option value="Marco Martinez">Marco Martinez</option>
                                <option value="Omar Lizarraga">Omar Lizarraga</option>
                                <option value="Daniela Lopez">Daniela Lopez</option>
                            </select>
                        </div>
                        <div class="fcompromiso">
                            <label>Fecha Compromiso:</label><br>
                            <input
                                id="alta_fecha_compromiso"
                                type="date"
                                required
                                name="fecha_compromiso"
                            >
                        </div>
                        <input id="btnAltaProyectos" type="button" value="Agregar Proyecto" name="agregar_proyecto">
                   </div>
    </body>
</html>