<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../css/views_style.css">	
        <title>Ola</title>
        <script src="../js/jquery-1.10.2.js"></script>
        <script src="../js/highcharts/highcharts.js"></script>
        <script src="../js/estadisticas.js"></script>
    </head>
    <body>
        <div class="contenedor">
            <div class="formulario" method="POST" action="../php/funciones.php">
                <h1 class="titulo">Estadisticas Del Grupo.</h1>
                <div class="text-center">
                    <div class="btn-group" role="group" aria-label="">
                        <button id="btnEstatus" type="button" class="btn_graficos">Proyectos por estatus</button>
                        <button id="btnProgramador" type="button" class="btn_graficos">Proyectos por programador</button>
                        <button id="btnServicio" type="button" class="btn_graficos">Proyectos por servicio</button>
                        <!-- <button id="btnPrueba" type="button" class="btn_graficos">Proyectos Historico</button> -->
                    </div>
                </div>
                <div class="acomodar_filtro_graficos">Filtrar por fecha
                    <div class="filtros_graficos">
                        <label class="modal_titulos">Fecha Inicio:</label><br>
                        <input
                            class="cubito1"
                            id="fecha_inicio"
                            type="date"   
                        >
                    </div>
                    <div class="filtros_graficos">
                        <label class="modal_titulos">Fecha Fin:</label><br>
                        <input
                            class="cubito1"
                            id="fecha_fin"
                            type="date"   
                        >
                    </div>
                </div>
            </div>
            <!-- En este container se muestran los graficos -->
            <div id="contenedor" style="min-width: 320px; height: 400px; margin: 0 auto;"></div>
            
        </div>
    </body>
</html>