<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../css/views_style.css">	
        <title>Ola</title>
        <script src="../js/jquery-1.10.2.js"></script>
        <script src="../js/view_modificar_usuario.js"></script>
    </head>
    <body>
        <div class="contenedor">
            <form class="formulario" method="POST" action="../php/funciones.php">
                <h1 class="titulo">Modificar Usuarios</h1>
                <div id="usuarios" class="usuarios">
                    <div class="tablilla">
                        <table border="1" id="tabla_usuarios">
                            <tr>
                                <td>N° EMPLEADO</td>
                                <td>NOMBRE</td>
                                <td>ROL</td>
                                <td>CLAVE</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>