<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../style.css">	
        <title>Ola</title>
    </head>
    <body>
        <div class="contenedor1">
            <form class="formulario1">
                <div id="ausuarios" class="ausuarios">
                    <div class="tablilla">
                        <h1>Proyectos registrados.</h1> <br>
                        <table border="1">
                            <tr>
                                <th>#</th>
                                <th>Nombre del proyecto.</th>
                                <th></th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Sistema administrador de proyectos.</td>
                                <td><input type="submit"
                                    value="Ver más."></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Sistema de portafolio.</td>
                                <td><input type="submit"
                                    value="Ver más."></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </form>
        </div>

    </body>
</html>